
span{
    color:#F4D160;
    font-weight:bold;
    font-size:1.2em;
    padding-right: 6px;
}
input {
    display: block;
    height: 45px;
    width: 410px;
    border-radius: 10px;
    border-style: solid;
    border-color: #D0D0D0;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 27px;
    outline: none;
    
}



select {
    display: block;
    height: 65px;
    width: 530px;
    border-radius: 10px;
    border-style: solid;
    border-color: #D0D0D0;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 27px;
}
option{
    font-size: 1.3em;
}
.LinkForm {
    position: relative;
    margin: 0 auto;
    
}
@media (min-width: 320px) {
    select{ width: 50%;
    transition: 0.5s;}
    option{
        font-size: 0.7em;
    }
  }
  @media (min-width: 360px)  {
    select{ width: 60%;
        transition: 0.5s;}
        option{
            font-size: 0.8em;
        }
  }
  @media (min-width: 420px)  {
    select{ width: 60%;
        transition: 0.5s;}
        option{
            font-size: 0.9em;
        }
  }
  @media (min-width: 520px) {
    select{ width: 70%;
        transition: 0.5s;}
        option{
            font-size: 1em;
        }
  }
  @media (min-width: 720px) {
    select{ width: 80%;
        transition: 0.5s;}
        option{
            font-size: 1.1em;
        }
  }
  @media (min-width: 960px)  {
    select{ width: 90%;
        transition: 0.5s;}
    option{
            font-size: 1.2em;
        }
  }
  @media (min-width: 1200px)  {
    select{ width: 100%;
        transition: 0.5s;}
        option{
            font-size: 1.3em;
        }
  }
.deleteBtn {
    color:#aaaaaa;
    cursor: pointer;
    padding-bottom: 15px;
}
.deleteBtn:hover {
    color:#F4D160;
    cursor: pointer;
}

.PlusBtn {
    color:#aaaaaa;
    background-color: #ffffff; 
    cursor: pointer;
}
.IdArea {
    width: 550px;
    position: relative;
    margin-left: 30px;
}
.NickArea{
    width: 550px;
    position: relative;
    margin-left: 30px;
}
.MultipleChoice{
    color: rgb(212, 36, 36);
    font-size: 0.7em;
    margin-left: 20px;
}

