
span{
    color:#F4D160;
    font-weight:bold;
    font-size:1.2em;
    padding-right: 6px;
    font-family: "맑은고딕";
}
input {
    display: block;
    height: 45px;
    width: 410px;
    border-radius: 10px;
    border-style: solid;
    border-color: #D0D0D0;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 27px;
    outline: none;
    font-family: "맑은고딕";
    /* border: 1px solid green; */
}



select {
    display: block;
    height: 65px;
    max-width: 510px;
    width: 100%;
    padding-left: 15px;
    border-radius: 10px;
    border-style: solid;
    border-color: #D0D0D0;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 27px;
    font-family: "맑은고딕";
    /* border: 1px solid violet; */
}
option{
    font-size: 1.3em;
}
.LinkForm {
    position: relative;
    margin: 0;
}

@media (max-width: 320px) {
    select{ width: 75%;
    transition: 0.5s;}
    option{
        font-size: 0.7em;
    }
    .delete-button{
        font-size: 30px;
    }
    .Contents{
        /* width: 100%; */
        margin: 0 auto;
    }  .IdArea {
        width: 70%;
    }
    .NickArea{
        width:  70%;
    }
    .rabbit { 
        font-size: 25px;
       }
  }
  @media (min-width: 321px) and (max-width: 360px)  {
    select{ width:  75%;
        transition: 0.5s;}
        option{
            font-size: 0.8em;
        }
        .delete-button{
            font-size: 30px;
        }
        .Contents{
            margin: 0 auto;
        }  .IdArea {
            width: 70%;
        }
        .NickArea{
            width: 70%;
        }
        .rabbit {
            font-size: 25px;
           }
  }
  @media(min-width: 361px) and  (max-width: 420px)  {
    select{ width: 80%;
        transition: 0.5s;}
        option{
        font-size: 0.9em;
        }
        .delete-button{
        font-size: 30px;
        }
        .Contents{
         margin: 0 auto;
        }  
        .IdArea {
        width: 80%;
        }
        .NickArea{
        width: 80%;
        }
        .rabbit {
            font-size: 40px;
           }
  }
  @media (min-width: 421px) and (max-width: 520px) {
    select{ width: 85%;
        transition: 0.5s;}
        option{
            font-size: 1em;
        }
        .delete-button{
            font-size:35px;
        }  .IdArea {
            width: 80%;
        }
        .NickArea{
            width:  80%;
        }
        .rabbit {
            font-size: 40px;
           }
  }
  @media (min-width: 521px) and (max-width: 720px) {
    select{ width: 85%;
        transition: 0.5s;}
        option{
            font-size: 1.1em;
        }
        .delete-button{
            font-size: 45px;
        }  .IdArea {
            width: 70%;
        }
        .NickArea{
            width: 70%;
        }
        .rabbit {
            font-size: 40px;
           }
  }
  @media (min-width: 721px) and (max-width: 960px)  {
    select{ width: 85%;
        transition: 0.5s;}
    option{
            font-size: 1.2em;
        }
        .delete-button{
            font-size: 45px;
        }  .IdArea {
            width: 80%;
        
        }
        .NickArea{
            width:80%;
        }
        .rabbit {
            font-size: 45px;
           }
  }
        @media (min-width: 961px) and (max-width: 1960px){
            select{ width:  95%;
                transition: 0.5s;}
                option{
                    font-size: 1.3em;
                }  
                .delete-button{
                    font-size: 45px;
                }
                .IdArea {
                    width: 100%;
                }
                .NickArea{
                    width: 100%;
                }
                .rabbit {
                   font-size: 45px;
                  }
            }

.deleteBtn {
    color:#aaaaaa;
    cursor: pointer;
    padding-bottom: 15px;
}
.deleteBtn:hover {
    color:#F4D160;
    cursor: pointer;
}

.PlusBtn {
    color:#aaaaaa;
    background-color: #ffffff; 
    cursor: pointer;
}
.IdArea {
    max-width: 550px;
    width: 100%;
    position: relative;
    margin: 0 auto;
  
}
.NickArea{
    max-width: 550px;
    width: 100%;
    position: relative;
    margin-left: 30px;
    margin: 0 auto;
}
.MultipleChoice{
    color: rgb(212, 36, 36);
    font-size: 0.7em;
    margin-left: 20px;
}
.Contents{
    max-width: 500px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    position: relative;
}