<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="signin-form" action="/api/loginProcess" method="POST">
    <div class="fields">
        <div class="field">
            <label for="memberId">ID</label>
            <input type="text" id="memberId" name="memberId" required>
        </div>
        <div class="field">
            <label for="memberPw">PASSWORD</label>
            <input type="password" id="memberPw" name="memberPw" required>
        </div>
        <div class="field">
            <input type="submit" value="로그인" class = "primary">
            <input type="button" value="회원가입하러가기" onclick="location.href='/api/signup'">
        </div>
    </div>
</form>
</body>
</html>