<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>프로젝트 포스팅</title>
</head>
<body>
<nav id="nav">
    <ul class="links">
        <li class="active"><a href="/api/projectList/0">포로젝트 전체</a></li>
        <li class="active"><a href="/api/projectList/opened/0">모집 중인 프로젝트</a></li>
        <li class="active"><a href="/api/projectList/closed/0">모집 마감 프로젝트</a></li>
        <li class="active"><a href="/all/postProject">프로젝트 등록하기</a></li>
    </ul>
</nav>

<div id="main">
    <form method="post" action="/all/project" enctype="multipart/form-data">
        <div><input type="text" id="projectTitle" name="projectTitle" placeholder="제목"></div>
        <div><textarea name="projectContent" id="projectContent" placeholder="내용" rows="6"></textarea></div>
        <!--input type="date" name="projectIsEnd" id="projectIsEnd"><br>-->
        <select name="projectIsEnd" id="projectIsEnd">
            <option value="opened">opened</option>
            <option value="closed">closed</option>
        </select>
        <input type="text" name="projectWriterId" id="projectWriterId" placeholder="작성자 아이디">
        <!--th:value="${memberEntity.memberId}"--><br>
        <input type="text" name="projectNickName" id="projectNickName" placeholder="작성자 닉네임">
        <!--th:value="${memberEntity.memberNickname}"--><br>
        <select name="projectRequired" id="projectRequired">
            <option value="java">자바</option>
            <option value="python">파이썬</option>
            <option value="mysql">mySQL</option>
            <option value="vscode">VSCODE</option>
        </select>
        <input type="file" id="projectImage" name="projectImage">
        <ul class="actions">
            <li><input type="submit" class=button value="등록하기"/></li>
            <li><input type="reset" value="Reset" /></li>
        </ul>
    </form>
</div>
</body>
</html>