<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Featured Post -->
<form class="signup-form" name="signupForm" action="/api/memberRegister" method="POST">
    <div class="fields">
        <div class="field">
            <label for="memberId">ID</label>
            <input type="text" name="memberId" id="memberId" required/>
            <span class="description">영문으로 6글자 이상 12글자이하의 아이디를 입력해주세요.</span>
            <div class="error-message"></div>
        </div>
        <div class="field">
            <label for="memberPw">Password</label>
            <input type="password" name="memberPw" id="memberPw" required/>
        </div>

        <div class="field">
            <label for="passwordCheck">Password Check</label>
            <input type="password" name="passwordCheck" id="passwordCheck" required/>
            <span class="description">동일한 비밀번호를 입력해주세요.</span><br>
        </div>
        <div class="field">
            <label for="memberNickname">NICKNAME</label>
            <input type="text" name="memberNickname" id="memberNickname" required/>
            <span class="description">닉네임을 입력해주세요.</span>
            <div class="error-message"></div>
        </div>
        <div class="field">
            <div class="col-4 col-12-small">
                <input type="radio"  name="memberRole" value="back" checked>
                <label for="demo-priority-low">백엔드</label>
            </div>
            <div class="col-4 col-12-small">
                <input type="radio"  name="memberRole" value="front">
                <label for="demo-priority-normal">프론트엔드</label>
            </div>
            <span class="description">사용할 기술 선택</span><br>
        </div>
        <div class="field">
            <label for="memberIntroduce">한줄소개</label>
            <input type="text" name="memberIntroduce" id="memberIntroduce" required/>
        </div>
        <div class="field">
            <label for="memberLink">Git Link</label>
            <input type="text" name="memberLink" id="memberLink" required/>
        </div>
        <div class="field">
            <label for="memberIcon">아이콘</label>
            <input type="text" name="memberIcon" id="memberIcon" required/>
        </div>
        <div class="field">
            <div class="col-4 col-12-small">
                <input type="radio" id="demo-priority-low" name="memberAcademy" value="노원" checked>
                <label for="demo-priority-low">노원</label>
            </div>
            <div class="col-4 col-12-small">
                <input type="radio" id="demo-priority-normal" name="memberAcademy" value="강남">
                <label for="demo-priority-normal">강남</label>
            </div>
            <span class="description">학원 지점 선택</span><br>
        </div>
    </div>
    <div>
        <ul class="actions">
            <li><input type="submit" value="회원가입" class = "primary" /></li>
            <li><input type="reset" value="내용재입력"></li>
        </ul>
    </div>
</form>

<script>
    // 유효성 검사 함수
    function validateForm() {
        var memberId = document.forms["signupForm"]["memberId"].value;
        var password = document.forms["signupForm"]["memberPw"].value;
        var passwordCheck = document.forms["signupForm"]["passwordCheck"].value;
        //var address = document.forms["signupForm"]["address"].value;

        // userId 영문 6글자 이상 검사
        var userIdRegex = /^[a-zA-Z]{6,12}$/;
        if (!memberId.match(userIdRegex)) {
            alert("영문으로 6글자 이상 12글자 이하의 아이디를 입력해주세요.");
            return false;
        }

        // 비밀번호 확인
        if (password != passwordCheck) {
            alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
            return false;
        }


        document.signupForm.submit();
    }
    function checkDuplicateId() {
        let memberId = $('#memberId').val();

        $.ajax({
            type: "GET",
            contentType: 'application/json',
            url: "/api/members/checkDuplicateId?memberId=" + memberId,
            success: function (response) {
                if (response.duplicate) {
                    alert('사용 중인 ID입니다. 다른 ID를 입력해주세요.');
                } else {
                    alert('사용 가능한 ID입니다.');
                }
            },
            error: function () {
                alert("에러입니다.");
            }
        });
    }
    function checkMemberNicknameDuplicateId() {
        let memberNickname = $('#memberNickname').val();

        $.ajax({
            type: "GET",
            contentType: 'application/json',
            url: "/api/members/checkMemberNicknameDuplicateId?memberNickname=" + memberNickname,
            success: function (response) {
                if (response.duplicate) {
                    alert('사용 중인 닉네임입니다. 다른 닉네임을 입력해주세요.');
                } else {
                    alert('사용 가능한 닉네임입니다.');
                }
            },
            error: function () {
                alert("에러입니다.");
            }
        });
    }
</script>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script>
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {

                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("sample4_roadAddress").value = roadAddr;
                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

                document.getElementById("sample4_engAddress").value = data.addressEnglish;

                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("sample4_extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
    $('#memberId').on('input', function() {
        checkDuplicateId();
    });
    $('#memberNickname').on('input', function() {
        checkMemberNicknameDuplicateId();
    });

    function checkDuplicateId() {
        let memberId = $('#memberId').val();

        if (!/^[a-zA-Z]{6,12}$/.test(memberId)) {
            $('.error-message').text('영문으로 6글자 이상 12글자 이하의 아이디를 입력해주세요.').css('color', 'red').css('font-size','13px');
            return;
        }

        $.ajax({
            type: "GET",
            url: "/api/members/checkDuplicateId?memberId=" + memberId,
            success: function (response) {
                if (response.duplicate) {
                    $('.error-message').text('사용 중인 ID입니다. 다른 ID를 입력해주세요.').css('color', 'red').css('font-size','13px');
                } else {
                    $('.error-message').text('사용 가능한 ID입니다.').css('color', 'blue').css('font-size','13px');
                }
            },
            error: function () {
                $('.error-message').text('에러입니다.').css('color', 'red').css('font-size','13px');
            }
        });
    }
</script>




</body>
</html>