@media (min-width: 1200px) {
    .btn{
      margin-top: 30px;
    }
    .Text2{
      font-size: 32px;
    }
}
@media (max-width: 1200px) {
    .btn{
      margin-top: 30px;
    }
    .Text2{
      font-size: 32px;
    }
}
@media (max-width: 960px) {
  .btn{
    margin-top: 30px;
  }
  .Text2{
    font-size: 28px;
  }
  }
  @media (max-width: 820px) {
    .btn{
        margin-top: 30px;
      }
      .Text2{
        font-size: 25px;
      }
  }
  @media (max-width: 720px) {
    .btn{
        margin-top: 30px;
      }
      .Text2{
        font-size: 23px;
      }
  }
  @media (max-width: 660px) {
    .btn{
        margin-top: 20px;
      }
      .Text2{
        font-size: 20px;
      }
  }
  @media (max-width: 580px) {
    .btn{
        margin-top: 10px;
      }
      .Text2{
        font-size: 20px;
      }
  }
  @media (max-width: 510px) {
    .btn{
        margin-top: 10px;
      }
      .Text2{
        font-size: 17px;
      }
  }
  @media (max-width: 420px) {
    .btn{
        margin-top: 10px;
      }
      .Text2{
        font-size: 15px;
      }
  }
  @media (max-width: 360px) {
    .btn{
        margin-top: 0px;
      }
      .Text2{
        font-size: 12px;
      }
  }
  
      @media (max-width: 320px) {
        .btn{
            margin-top: 0px;
          }
          .Text2{
            font-size: 12px;
          }
        }
        .imgMember{
          position: relative;
        }